.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use the full viewport height */
  background-color: #a0beee; 
  text-align: center;

}
.app-header {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.grid-container {
  margin: 20px auto;
  display: inline-block;
}

.info-section {
  margin-top: 30px;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(25, 20px); /* Adjust the cell size as needed */
  grid-template-rows: repeat(25, 20px); /* Adjust the cell size and number of rows as needed */
  grid-gap: 1px; /* Adjust the gap between cells as needed */
  background-color: #3f3030;
  width: fit-content;
  padding: 0px; /* Add padding to create space for the border */
  margin:  auto;
}
/* App.css */

.grid-cell {
  width: 20px; /* Adjust the cell size as needed */
  height: 20px; /* Adjust the cell size as needed */
  background-color: rgb(59, 60, 63);
  border: 1px solid #968989; /* Add border for grid lines */
}

.path-node {
  background-color: rgb(135, 199, 227);
}
.start-node {
  background-color: #64d664; /* Green color for start node */
}

.end-node {
  background-color: #db5757; /* Red color for end node */
}
.grid-cell:hover {
  background-color: rgb(13, 2, 2); /* Change the hover color as desired */
}

.grid-container:focus {
  outline: 2px solid #00f; /* Add a blue outline when the grid container is focused */
}

